html,body,#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.about-page {
    background-image: url('../assets/about.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content {
    margin: 0% 3% 0% 2%;
}

.motto-text {
    font-family: 'SerifFont', serif;
    font-style: italic;
    line-height: 1.5;
    font-size: 30px;
    text-align: right;
    padding-top: 50px;
    text-shadow:
        1px 1px 2px orangered,
        0 0 0.2em #e58b88ff;
}

.mission-text p {
    font-size: 1rem;
    line-height: 1.7;
    max-width: 85%;
    text-align: center;
}

.stat-box {
    width: 150px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 5px 5px 7px black;
}

/* Tablets (992px and below) */
@media (max-width: 992px) {
    .main-content {
        margin-top: 15%;
    }
}

/* Medium screens (768px and below) */
@media (max-width: 768px) {
    .motto-text {
        display: none;
    }
}
