.custom-sliding-menu {
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.4s ease-in-out;
}

.custom-sliding-menu.show {
    max-width: 310px;
}

.custom-nav-links {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    margin: 0;
}

.custom-nav-links .nav-item {
    margin-right: 15px;
    white-space: nowrap;
    font-size: medium;
    font-weight: bolder;
    color: black;
    transition: color 0.3s ease;
}

.custom-nav-links .nav-item :hover {
    color: orangered;
    text-decoration: underline dotted;
}

.navbar{
    color: rgb(0 0 0);
}

