/* main page */
.mainpage-container {
    min-height: 100vh;
    background-color: #fef4f4;
    padding-top: 20px;
}

/* LEFT COLUMN */
.mandala-background {
    width: 350px;
    height: 350px;
    background-image: url('../assets/HOME.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Right */
.main-title {
    color: #34495e;
    font-size: 3rem;
    font-family: 'SerifFont', serif;
    font-style: italic;
    display: block;
    line-height: 80px;
}

.category-text {
    font-size: 1.5rem;
    letter-spacing: 0.15em;
    font-weight: 500;
    color: #6c757d;
}

.text-pink {
    color: #e7a09d;
}

.description-text {
    color: #6c757d;
    line-height: 1.8;
    max-width: 550px;
}


/* Responsive */
@media(max-width: 990px) {
    .mandala-background {
        display: none;
    }
}

@media(max-width: 768px) {
    .main-title {
        font-size: 2.5rem;
        line-height: 50px;
    }

    .mandala-background {
        display: none;
    }
}
