body {
    height: 100%;
    width: 100%;
    background-color: #e7a09d;
}

.body-content{
    margin: 8% 5% 5%;
}

.page {
    background-image: url('../assets/background-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagetitle {
    margin-top: 5%;
    text-shadow: 0px 5px 5px black;
    font-family: cursive;
}

/* card */
.polaroid-card {
    background: white;
    border-radius: 12px;
    padding: 10px 10px 25px 10px;
    margin: 10px auto;
    width: 100%;
    max-width: 320px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    display: flex;
    flex-direction: column;
}

.polaroid-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
}

.caption {
    font-size: 20px;
    text-shadow: 1px 4px 5px #e58b88ff,1px 4px 5px black;
}

/* Tilted Effects */
.tilt-left {
    transform: rotate(-5deg);
}

.tilt{
    transform: rotate(0);
}

.tilt-right {
    transform: rotate(5deg);
}

/* --- Tape Effect--- */
.service-item {
    position: absolute;
    width: 90px;
    height: 22px;
    background: rgb(185, 133, 82);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    z-index: 10;
    opacity: 0.8;
    top: -2px;
}

.service_pos1{
    left: -7%;
    transform: rotate(-30deg); 
}

.service_pos2{
    left: 40%;
    transform: rotate(-20deg);
}

.service_pos3{
    right: -7%;
    transform: rotate(30deg);
}

/* Tablets (992px and below) */
@media (max-width: 992px) {
    .pagetitle {
        font-size: 1.7rem;
    }

    .polaroid-card {
        max-width: 280px;
    }
}

/* Medium screens (768px and below) */
@media (max-width: 768px) {
    .pagetitle {
        font-size: 1.5rem;
        margin-top: 20%;
    }
}

/* Small mobile (576px and below) */
@media (max-width: 576px) {
    .body-content{
        margin-top: 20%;
    }
}
